@import '../base/base.css';
@import '../base/layout.css';
@import '../3rd_party/font-awesome.min.css';
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progressbar.css';

.hero{
  padding-bottom: 20px;
}
section.container.bg-main{
  padding-bottom: 20px;
}

.hero > .row-short{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.logo{
  width: 60px;
  height: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}
.main-title{
  font-size: 70px;
  text-transform: uppercase;
}

.clock{
  margin: 40px 0;
}
/* hero section start */
.main-content{
  display: flex;
  justify-content: space-between;
}
.column{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  background-color: pink;
}
.right-column{
  width: 40%;
  background-color: silver;
}
 .column-title{
  text-transform: uppercase;
  font-size: 18px;
 }
 .column-description{
  font-size: 17px;
  color: #777;
 }
 .column-description > a{
  text-decoration: none;
  color: var(--secondary-color);
 }
/* Hero section end */

footer.container{
  padding-top: 0;
} 

footer .container{
  padding-top: 0;
}


@media (max-width: 500px){
  .main-title{
    font-size: 60px;
  }
}

@media (max-width: 700px){
  .main-content{
    flex-direction: column;
    row-gap: 40px;
  }
  .main-content > *{
    width: 100%;
  }
}