@import '../base/base.css';
@import '../base/layout.css';
@import '../3rd_party/font-awesome.min.css';
@import '../components/button.css';
/* @import '../components/clock-flex.css'; */
@import '../components/clock-grid.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progressbar.css';

.hero{
  padding-bottom: 20px;
}

.hero > .row-short{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.logo{
  width: 100%;
  height: 60px;
  object-fit: contain;
  margin-bottom: 20px;
}
.main-title{
  font-size: 70px;
  text-transform: uppercase;
}

.clock{
  margin: 40px 0;
}

footer .container{
  padding-top: 0;
}


@media (max-width: 500px){
  .main-title{
    font-size: 60px;
  }
}